.header {
    position: sticky;
    top: -30px;
    z-index: 10;
    //height: 40px;
    width: 100%;
    //background: var(--color-white-opacity);
    backdrop-filter: blur(100px);

    /*&:after{
        content: '';
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(100px);
    }
    &:before{
        content: '';
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url("./assets/img/bg/bg.svg");
        z-index: 1;
    }*/
    &__wrapper{
        padding: 40px 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__logo {
        position: relative;
        width: 220px;
        height: 43px;
        margin-right: auto;
        &:hover{
            cursor: url("./assets/img/icon/cursor.svg"), auto;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        &-item{
        }
        &-link{
            padding: 0 10px;
            margin: 0 15px;
            text-transform: uppercase;
            &.is-subactive{
                color: transparent;
                -webkit-background-clip: text;
                background-image: var(--linear-gradient);
            }
        }
    }

}
