.header {
    padding-top: 40px;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 40px;
    display: flex;
    align-items: center;
    &__logo {
        position: relative;
        width: 220px;
        height: 43px;
        margin-right: auto;
        &:hover{
            cursor: url("./assets/img/icon/cursor.svg"), auto;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        &-item{
        }
        &-link{
            padding: 0 10px;
            margin: 0 15px;
            text-transform: uppercase;
            &.is-subactive{
                color: transparent;
                -webkit-background-clip: text;
                background-image: var(--linear-gradient);
            }
        }
    }

}
