.rubric {
  &-block {
    margin-bottom: var(--space-between-sections);
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    &__description{
      max-width: 60%;
      margin-bottom: 2.5rem;
      &.m--50{
        margin-bottom: 0;
        max-width: 50%;
      }
    }
    &__list{
      position: relative;
      padding-bottom: 10px;
      &:before{
        top: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        content: '';
        background: url("./assets/img/bg/rubric-list.svg") no-repeat;
        background-position: 25%;
        background-size: 35%;
      }
    }
    &__item{
      display: flex;
      align-items: center;
      position: relative;
      padding: 20px 0;
      z-index: 2;
      &:hover{
        cursor: url("./assets/img/icon/cursor.svg"), auto;
      }
      &:after{
        position: absolute;
        bottom: 0;
        content: '';
        background: #000;
        width: 100%;
        height: 1px;
        background: var(--linear-gradient);
      }
    }
    &__title{
      transition: all .3s ease;
      margin-right: auto;
      color: var(--color-white);
    }
    &__btn{
      transition: all .35s ease, visibility .0s ease;
      visibility: hidden;
      text-wrap: nowrap;
      min-width: 0;
      width: 0;
    }
    &__item:hover &__btn{
      visibility: visible;
      min-width: 240px;
      width: 240px;
      margin-left: 20px;
    }
    &__item:hover &__title{
      color: transparent;
      background-clip: text;
      background-image: var(--linear-gradient);
    }
  }
  &-modal{
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    &__title{
      margin-bottom: 0;
    }
    &__close{
      position: relative;
    }
    &__cover{
      margin-bottom: 1.5rem;
    }
    &__description{
      margin-bottom: 1.5rem;
    }
  }
}
