:root{
    --color-black:#232323;
    --color-white:#FFFFFF;
    --color-white-darker:#E7E7E7;
    --base-fz: 18px;
    --base-lh: 1.3;
    --font-family-base: 'Manrope', 'Tahoma', sans-serif;
    --linear-gradient: linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --container: 1420px;
}
